.input {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 16px;
    background: #F4F4F5;
    border: solid 1px #E8E8E8;
    border-radius: 6px;
    font-size: 14px;
}