.chat {
    background: #F7F9FA;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;


    &__header {
        height: 60px;
        background: #fff;
        border-bottom: solid 1px #E8E8E8;
        flex: 0 0 auto;
        padding: 0 24px;

        display: flex;
        justify-content: space-between;
        align-items: center;


        // &__title {
        //     grid-column-start: 1;
        //     grid-column-end: 3;
        //     display: flex;
        //     background: tomato;
        //     align-items: center;


        // }

    }

    &__content {
        padding: 12px;
        overflow-y: scroll;
    }


}


.date-group {

    &__date {
        margin: 24px 0;
        display: flex;
        justify-content: center;
    }

    &__content {
        margin-top: 12px;
    }
}

.chat-date {
    font-size: 12px;
    background: #fff;
    padding: 4px 12px;
    border: 1px solid #E8E8E8;
    border-radius: 1em;
    color: #999;
}


.new-message {
    padding: 12px 24px;
    min-height: 60px;
    background: #fff;
    display: flex;

    &__text {
        margin-left: 12px;
        width: 100%;
        margin: 0 12px;
    }

    &__input {
        width: 100%;
        height: 36px;
        font-size: 14px;
        display: block;
        padding: 0 12px;
        background: #F4F4F5;
        border: solid 1px #E8E8E8;
        border-radius: 6px;

    }
}