form(action!=action class="form")
    span(class="form__title") #{title}
    
    if inputs
        each input in inputs
            !=input
    
    if buttons
        each button in buttons
            !=button
    
    if bottomText
        span(class="form__bottom-text") #{bottomText}

    !=bottomLink
    

