.chat-card {
    height: 88px;
    // background: burlywood;
    display: block;
    list-style: none;
    margin: 0;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 320px;

    &__avatar {
        background: greenyellow;
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50%;
        margin-right: 12px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        color: #272C32;
    }

    &__time {
        color: #999999;
        font-size: 12px;
    }


    &__text {
        color: #999999;
        font-size: 12px;
        margin-top: 6px;
    }


    &:not(&_active):hover {
        background: #F4F4F5;
    }


    &_active {
        background: #4254FF;
    }

    &_active &__name {
        color: #fff;
    }

    &_active &__text {
        color: rgba(255, 255, 255, 0.7);
    }

    &_active &__time {
        color: rgba(255, 255, 255, 0.7);
    }

}