#main {
    background: #F7F9FA;
    display: flex;
}

.sidebar {
    background: #fff;

    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0px 15px rgba(207, 219, 224, 0.2);
    z-index: 1000;


    &__header {
        height: 60px;
        background: #fff;
        border-bottom: solid 1px #E8E8E8;
        padding: 12px;
        display: flex;


    }
}

.chat {
    background: #F7F9FA;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    height: 60px;
    background: #fff;
    border-bottom: solid 1px #E8E8E8;
    padding: 12px 24px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);


    &__title {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        background: tomato;
        align-items: center;


    }

}