#main
    //- #column
    !=sidebar
    //- #column
    //- div.header 
    //-     p adf   
    //-     p dwfw
        //-     div.header__title
        //-     !=person
    !=chat
    //- #left-column
    //- !=sidebar
    //- !=chat
