div.message
    //- div.message__aside
    !=avatar
    div.message__content
        div.message__title  
            div.message__name #{name}  
            div.message__time #{time}
        div.message__text #{text}
    