 
.form {
    background: #fff;
    text-align: center;
    width: 344px;
    padding: 36px 48px;
    border-radius: 10px;

    margin: 0 auto;
    // margin-top: 10em;
}

.form__title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;

}
 


.form__link {
    display: block;
    margin-top: 6px;
    font-weight: 600;
    /* color: #4254FF; */
}

