div.sidebar
    //- !=header
    div.sidebar__header
        //-     div.header__title
        !=button
        !=search 
    //- div.sidebar__header

    ul.sidebar__list
        each card in chatList
            !=card