.sidebar {
    background: #fff;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 0px 15px rgba(207, 219, 224, 0.2);
    z-index: 1000;
    

    &__header {
        height: 60px;
        background: #fff;
        border-bottom: solid 1px #E8E8E8;
        padding: 12px;
        display: flex;
        flex: 0 0 auto;
    }

    &__list {
        padding: 0;
        margin: 0;
        overflow-y: scroll;
    }
}


