li.chat-card
    div.chat-card__avatar
    div.chat-card__content
        div.chat-card__title
            div.chat-card__name #{title}
            div.chat-card__time #{time}
        div.chat-card__text #{text}