@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #F7F9FA;
    color: #272C32;
    margin: 0;
}

#main {
    background: #F7F9FA;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100vh;
}

.page-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}