@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #F7F9FA;
    color: #272C32;
    margin: 0;
}

#main {
    background: #F7F9FA;
    display: flex;
}