div.header
    div.header__utils
        button
    div.header__title Настройки

div.setting
    div.setting-group   
        div.setting__line
            div.setting__container
                div.setting__avatar
    div.setting-group   
        div.setting__line
            div.setting__name Имя
            div.setting__value Tom
        div.setting__line
            div.setting__name Фамилия
            div.setting__value Tom
        div.setting__line
            div.setting__name Имя в чате
            div.setting__value Tom
    div.setting-group   
        div.setting__line
            div.setting__name Логин
            div.setting__value Логин
        div.setting__line
            div.setting__name Почта
            div.setting__value Почта
        div.setting__line
            div.setting__name Телефон
            div.setting__value Телефон
    div.setting-group   
        div.setting__line
            a(href="").link Изменить пароль
        div.setting__line
            a(href="/chat").link.link_abort Выйти