.avatar{
    background: greenyellow;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 12px;


    // &_size-s{
    //     width: 36px;
    //     height: 36px;
    // }

    &_size-m{
        width: 48px;
        height: 48px;
    }
    &_size-l{
        width: 56px;
        height: 56px;
    }
    &_size-xl{
        width: 80px;
        height: 80px;
    }
}